# -----------------------------------------------------
# Git
# -----------------------------------------------------
.git
.gitignore

# -----------------------------------------------------
# Environment
# -----------------------------------------------------
.env

# -----------------------------------------------------
# Documentation
# -----------------------------------------------------
docs/
postman/

# -----------------------------------------------------
# IDE
# -----------------------------------------------------
.vscode/
.idea/

# -----------------------------------------------------
# macOS
# -----------------------------------------------------
.DS_Store

# -----------------------------------------------------
# Logs
# -----------------------------------------------------
application/logs/*
!application/logs/index.html

# -----------------------------------------------------
# Cache
# -----------------------------------------------------
application/cache/*
!application/cache/index.html